black==24.10.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
flexicon==0.1.0
idna==3.10
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.3.6
pyaml==24.9.0
PyML==0.0.5
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
schematics==2.1.1
six==1.16.0
terraformpy==1.3.5
urllib3==2.2.3
